{% extends 'micro-post/base2.html.twig' %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('build/css/header.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/footer.css') }}">
    <link rel="stylesheet" href="{{ asset('build/css/homepage.css') }}">
{% endblock %}
    {% block body %}

        <div class="split left">
            <div class="centered">

                <p></p>
            </div>
        </div>

        <div class="split right">
            <div class="centered">
                 <ul>

                        <li class="nav-item text-nowrap">
                            <a class="btn btn-outline-primary" role="button" id="button1"
                               href="{{ path('blog_homepage') }}">Contact</a>
                        </li>

                        <li class="nav-item text-nowrap">
                            <a class="btn btn-outline-primary " role="button"
                               href="{{ path('blog_homepage') }}"> About </a>
                        </li>

                <li class="nav-item text-nowrap">
                    <a class="btn btn-outline-primary" role="button"
                       href="{{ path('security_login') }}">Sign in </a>
                </li>

                <li class="nav-item text-nowrap">
                    <a class="btn btn-outline-primary" role="button"
                       href="{{ path('user_register') }}">Register </a>
                </li>
                 </ul>
                <p></p>
            </div>
        </div>

    {% endblock %}
