<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/homepage.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/header.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/footer.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/profile.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    {% endblock %}

    <title>Happytweet</title>


</head>
<body class="bg-light">
{% block masterheader %}
    {% include 'blog/header.html.twig' %}
{% endblock %}
<div class="container">
    {% block body %}{% endblock %}

</div>

{#{% block masterfooter%}#}
    {#{% include 'blog/footer.html.twig' %}#}
{#{% endblock %}#}

{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>


{% endblock %}
</body>
</html>