<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('build/css/homepage.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/header.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/footer.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/profile.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/add.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('build/css/animation.css') }}">
    {% endblock %}
    <link rel="shortcut icon" type = "image/gif" href = 'build/images/logo/logo.gif'/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="build/js/animation.js"></script>
    <title>HappyTweet</title>


</head>
<body class="bg-light">
{% block masterheader %}
    {% include 'blog/header.html.twig' %}
{% endblock %}
<div class="container">
    {% block body %}{% endblock %}

</div>
{% block masterfooter%}
    {% include 'blog/footer.html.twig' %}
{% endblock %}


{#{% block javascripts %}#}
    {#<script src="{{ asset('build/js/Main.js') }}"></script>#}

    {#<script src="vendor/jquery/jquery.min.js"></script>#}
    {#<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>#}
    {#<script src="holder.js"></script>#}
    {#<script>#}
        {#Holder.add_theme("big", { background: #FF0000, foreground: #fff, size: 20 })#}
    {#</script>#}

    {#<!-- Plugin JavaScript -->#}
    {#<script src="vendor/jquery-easing/jquery.easing.min.js"></script>#}

    {#<!-- Custom scripts for this template -->#}
    {#<script src="js/new-age.min.js"></script>#}
{#{% endblock %}#}
{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
</body>
</html>