{% extends 'base.html.twig' %}

{% block body %}
    {% for id in users %}
        {#<p><a href="{{ path('blog_show', {'id':id}) }}">ID{{ id }}</a></p>#}
        <span class="d-block">
                    <a href="{{ path('all_users', {'username' : user.username}) }}">
                        <strong class="text-gray-dark">@{{ user.username }}</strong>
                    </a>
                <p>class="text-gray-dark">@{{ user.full_name}}</p>
                </span>
        <small class="d-block text-right mt-3">
            {% if is_granted('follow',post) %}
                <a class="btn btn-secondary" href="{{ path('user_unfollow',{'id':user.id}) }}">follow</a>
            {% endif %}

            {% if is_granted('unfollow',post) %}
                <a class="btn btn-danger" href="{{ path('user_unfollow',{'id':user.id}) }}">unfollow</a>
            {% endif %}
        </small>
    {% endfor %}





{% endblock %}